# all notebooks
jupyter
ipykernel
# list comprehensions
requests
# twitter API
matplotlib
numpy
Pillow
tweepy
wordcloud
# github api
PyGithub
# selenium
selenium
# data viz
feedparser
plotly
# pytest
pytest
pytest-cov
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
