# all notebooks
jupyter
ipykernel
# list comprehensions
requests
# twitter API
matplotlib
numpy
Pillow
tweepy
wordcloud
# github api
PyGithub
# selenium
selenium
# data viz
feedparser
plotly
# pytest
pytest
pytest-cov
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
